:root, .x1vghlrs{--x1cxqrta:#123456;}
.x93vhnj:not(#\#){background-color:var(--x1by37ot)}
.x1t5t8gb:not(#\#){background-color:var(--x1cxqrta)}
.x1sdz8ah:not(#\#){background-color:var(--x1tbicsu)}
.x1p5qt22:not(#\#){background-color:var(--xoni6rt)}
.xjm9jq1:not(#\#):not(#\#){height:1px}
.xh8yej3:not(#\#):not(#\#){width:100%}
.x1dmp6jm:not(#\#):not(#\#){width:80px}